h1{
   background-color: #9C0F48;
   text-align: center;
   color: white;
   font-family: gotham;
}  
div.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 200px;
    height: 200px
  }
  
  .grid-item {
    width: 150px;
    height: 150px;
    border: 5px solid ;
    box-sizing: border-box;
  }
  
.box{
  align-items: center;
}
  
  
  body{
    padding: 0;
    margin: 0;
    background-color: #F9E4D4;
  }